In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [74]:
path = "/Users/dj/Documents/GitHub/Causal_Data_Science/Project/Data/lucas0_text/"
names = ['Smoking', 'Yellow_Fingers', 'Anxiety', 'Peer_Pressure', 'Genetics', 'Attention_Disorder','Born_an_Even_Day', 'Car_Accident', 'Fatigue', 'Allergy', 'Coughing']

In [82]:
# reading csv files
train =  pd.read_csv(path + 'lucas0_train.data', sep=" ", header = None)
train.drop(11, inplace = True, axis = 1)
train.columns = names
test =  pd.read_csv(path + 'lucas0_test.data', sep=" ", header = None)
test.drop(11, inplace = True, axis = 1)
test.columns = names
target =  pd.read_csv(path + 'lucas0_train.targets', sep=" ", header = None)
# param =  pd.read_csv(path + 'lucas0.param', sep=" ")

In [83]:
print(train.sum().sum())
print(test.sum().sum())

11923
60290

In [84]:
print(train.shape)
print(test.shape)
print(target.shape)

(2000, 11)
(10000, 11)
(2000, 1)

In [85]:
train.head()

,Smoking,Yellow_Fingers,Anxiety,Peer_Pressure,Genetics,Attention_Disorder,Born_an_Even_Day,Car_Accident,Fatigue,Allergy,Coughing
0,0,0,1,0,0,1,0,1,0,1,0
1,0,1,0,0,0,0,1,0,1,0,1
2,1,1,1,0,1,1,1,1,1,1,1
3,0,0,0,1,0,0,1,0,0,0,0
4,1,1,1,0,0,1,1,1,1,0,0

In [86]:
avgs = []
for i in np.arange(train.shape[1]):
    d = train.iloc[:,i]
    a = np.average(d)
    avgs.append(a)
print(avgs)

[0.7525, 0.782, 0.6305, 0.3415, 0.1395, 0.3225, 0.4895, 0.723, 0.737, 0.343, 0.7005]

In [88]:
target.head()

   0
0 -1
1  1
2  1
3 -1
4  1